# Node
node.exe
node-v*.msi
node_modules/
npm
npm.cmd
npm.ps1
npx
npx.cmd
npx.ps1
nodevars.bat

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
# Ignore nested .git folder
hello world端口展示/.git/
